doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  title welcome to clubConnect
  link(rel="stylesheet" href="stylesheet/css/style.css")
  link(href='https://fonts.googleapis.com/css?family=Poppins:300' rel='stylesheet' type='text/css')
body
.landing-section
  .main
    h3 
      | club
      span.logo-bold Connect
    .form
      h4.hello-text New way to connect event organizers and volunteers
      p.description Fast growing volunteer and organizer network. Linkedin for volunteers. Join us and be a part of our story! 
      .form-email
        input(type="Email" placeholder="Email adress").input-email
        button.submit-email Submit
        p.spam * we won't spam
  footer
