/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }
  body .landing-section {
    width: 100vw;
    height: 100vh;
    overflow: hidden; }
    body .landing-section .main {
      height: 100vh;
      background-color: #232337;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/background.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      body .landing-section .main header h3 {
        display: inline;
        position: relative;
        top: 80px;
        left: 75px;
        color: #ffce80;
        font-size: 1.6em;
        padding: 15px;
        border: 2px solid #ffce80; }
        body .landing-section .main header h3 .logo-bold {
          font-weight: 700; }
      body .landing-section .main .form {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        position: relative;
        top: calc(50% - 140px);
        color: #fff; }
        body .landing-section .main .form .hello-text {
          font-size: 2.5em;
          font-weight: 500; }
        body .landing-section .main .form .description {
          margin-top: 15px;
          font-size: 1.2em; }
        body .landing-section .main .form .form-email {
          position: relative;
          top: 50px;
          margin-left: auto;
          margin-right: auto;
          width: 500px; }
          @media only screen and (max-width: 78.75em) {
            body .landing-section .main .form .form-email {
              width: 480px; } }
          @media only screen and (max-width: 60em) {
            body .landing-section .main .form .form-email {
              width: 440px; } }
          @media only screen and (max-width: 48em) {
            body .landing-section .main .form .form-email {
              width: 380px; } }
          @media only screen and (max-width: 40em) {
            body .landing-section .main .form .form-email {
              width: 300px; } }
          body .landing-section .main .form .form-email .input-email {
            width: 350px;
            height: 50px;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            padding-left: 30px;
            padding-right: 30px;
            color: #999;
            font-size: 20px;
            border: 0;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px; }
            body .landing-section .main .form .form-email .input-email:focus {
              outline: none; }
            body .landing-section .main .form .form-email .input-email:focus::-webkit-input-placeholder, body .landing-section .main .form .form-email .input-email:focus::-moz-input-placeholder {
              color: transparent; }
            @media only screen and (max-width: 78.75em) {
              body .landing-section .main .form .form-email .input-email {
                width: 340px; } }
            @media only screen and (max-width: 60em) {
              body .landing-section .main .form .form-email .input-email {
                width: 320px; } }
            @media only screen and (max-width: 48em) {
              body .landing-section .main .form .form-email .input-email {
                width: 290px;
                height: 45px;
                font-size: 18px; } }
            @media only screen and (max-width: 40em) {
              body .landing-section .main .form .form-email .input-email {
                width: 220px;
                height: 40px;
                font-size: 16px; } }
          body .landing-section .main .form .form-email .submit-email {
            position: absolute;
            right: 0;
            width: 150px;
            height: 50px;
            color: #fff;
            font-size: 20px;
            background-color: #2ECC71;
            border: 0;
            border-bottom: 2px solid green;
            transition: 0.1s ease-out;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px; }
            body .landing-section .main .form .form-email .submit-email:hover {
              cursor: pointer; }
            body .landing-section .main .form .form-email .submit-email:active {
              background: #27ae60;
              border-bottom: 0; }
            body .landing-section .main .form .form-email .submit-email:focus {
              outline: none; }
            @media only screen and (max-width: 78.75em) {
              body .landing-section .main .form .form-email .submit-email {
                width: 140px; } }
            @media only screen and (max-width: 60em) {
              body .landing-section .main .form .form-email .submit-email {
                width: 120px; } }
            @media only screen and (max-width: 48em) {
              body .landing-section .main .form .form-email .submit-email {
                width: 90px;
                height: 45px;
                font-size: 18px; } }
            @media only screen and (max-width: 40em) {
              body .landing-section .main .form .form-email .submit-email {
                width: 80px;
                height: 40px;
                font-size: 16px; } }
          body .landing-section .main .form .form-email .spam {
            position: absolute;
            top: 55px;
            left: 30px;
            color: #fff;
            font-size: 15px;
            font-style: italic; }
            @media only screen and (max-width: 48em) {
              body .landing-section .main .form .form-email .spam {
                top: 50px; } }
            @media only screen and (max-width: 40em) {
              body .landing-section .main .form .form-email .spam {
                top: 45px; } }
